* {
    box-sizing: border-box;
}

body {
    background-color: blue;
    color: white;
}


img {
    float: right;
}


@media screen and (max-width: 480px) {
    body {
        background-color: red;
    }

    img {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    body {
        background-color: yellow;
        color: black
    }
}